In [1]:
import pandas as pd
import numpy as np

In [2]:
data_model = pd.read_csv("../datasets/movies_dataset_model.csv", index_col=0)
data_model

,release_year,runtime,vote_average,tmdb_id,genre_action,genre_adventure,genre_animation,genre_comedy,genre_crime,genre_documentary,...,language_english,language_french,language_german,language_hindi,language_italian,language_japanese,language_korean,language_portuguese,language_russian,language_spanish
0,1995,81.0,7.7,862,0,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
1,1995,104.0,6.9,8844,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,1995,101.0,6.5,15602,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
3,1995,127.0,6.1,31357,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,1995,106.0,5.7,11862,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31202,1946,65.0,6.3,84419,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31203,2000,30.0,7.0,289923,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31204,1995,85.0,3.5,222848,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31205,1991,104.0,5.7,30840,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31206,2003,90.0,3.8,67758,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [12]:
columns_order = data_model.columns

**Input**: genre_1, genre_2, genre_3, release_year, runtime, vote_average, popularity_level, language  
**Output**: data columns

In [6]:
class Input(object):
    genre1: str
    genre2: str
    genre3: str
    release_year: int
    runtime: float
    vote_average: float
    popularity: int
    language: str

In [11]:
example_input = Input()
example_input.genre1 = "action"
example_input.genre2 = "family"
example_input.genre3 = "fantasy"
example_input.release_year = 2010
example_input.runtime = 90
example_input.vote_average = 70
example_input.popularity = 4
example_input.language = "en"

In [14]:
[col for col in columns_order if col[:6] == "genre_"]

['genre_action',
 'genre_adventure',
 'genre_animation',
 'genre_comedy',
 'genre_crime',
 'genre_documentary',
 'genre_drama',
 'genre_family',
 'genre_fantasy',
 'genre_foreign',
 'genre_history',
 'genre_horror',
 'genre_music',
 'genre_mystery',
 'genre_romance',
 'genre_science_fiction',
 'genre_thriller',
 'genre_war',
 'genre_western']

In [15]:
[col for col in columns_order if col[:9] == "language_"]

['language_chinese',
 'language_english',
 'language_french',
 'language_german',
 'language_hindi',
 'language_italian',
 'language_japanese',
 'language_korean',
 'language_portuguese',
 'language_russian',
 'language_spanish']

In [32]:
class Languages(object):
    def __init__(self):
        self.chinese = 'language_chinese'
        self.english = 'language_english'
        self.french = 'language_french'
        self.german = 'language_german'
        self.hindi = 'language_hindi'
        self.italian = 'language_italian'
        self.japanese = 'language_japanese'
        self.korean = 'language_korean'
        self.portuguese = 'language_portuguese'
        self.russian = 'language_russian'
        self.spanish = 'language_spanish'

    def none(self):
        pass

l = Languages()

In [35]:
x = {"a":1, "b":2}
x.update({"c":3})
x

{'a': 1, 'b': 2, 'c': 3}

In [36]:
pd.DataFrame([x])

   a  b  c
0  1  2  3